
body {
    background-color: RGB(255,255,255);
    color: black;
}

.no-transition * {
    transition: none !important;
}

.temp {
    display: none;
}


.toggle_button {
    position: fixed;
    right: 1rem;
    top: 1rem;

    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: none;

    background: #e5e5e5;
    color: #111;

    cursor: pointer;
    transition: all 0.2s ease;
}

.toggle_button:hover {
    background: radial-gradient(circle at center, #ffffff66, transparent 70%), #a8a8a8;
}

.notes-grid {
    /* border: 2px solid red;; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    width: 80vw;
    margin: 8vw;
    gap: 1rem;
    margin-top: 1rem;
}

.note-card {
    /* border: 2px solid yellow; */
    background-color: #e4e4e4;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.2s ease;
}

.note-card:hover {
    transform: translateY(-3px);
    background-color: #dadada;
}

.note-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
}

.note-datetime {
    font-size: 0.9rem;
    opacity: 0.9;
    margin-bottom: 0.6rem;
}

.note-body {
    font-size: 0.9rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
}


.note-viewer {
    display: none;
    max-width: 40rem;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 0.6rem;
    background: #e4e4e4;
}

.editor-title {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    margin-bottom: 1rem;
    
    font-size: 1.6rem;
    font-weight: bold;
}

.editor-datetime {
    font-size: 0.9rem;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

.editor-body {
    width: 100%;
    height: 10rem;
    border: none;
    outline: none;
    background: transparent;

    font-size: 1rem;
    line-height: 1.4;

    resize: none;
}

.editor-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.editor-controls button {
    border: none;
    background: transparent;
    cursor: pointer;
    
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    
    background-color: #c3c3c3;
    transition: background 0.15s ease;
}

.editor-controls button:hover {
    background: rgba(0,0,0,0.08);
}

.notes-controls {
    display: flex;
    gap: 1rem;
    margin: 2rem 8vw 0 8vw;
}

.primary-buttons {
    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem 1rem;

    font-size: 0.95rem;
    font-weight: 500;

    background: #e5e5e5;
    color: #111;

    cursor: pointer;

    transition: all 0.2s ease;
}

.primary-buttons:hover {
    background: radial-gradient(circle at center, #ffffff66, transparent 70%), #cfcfcf;
}





/* ===================================================== */
/* ===================== DARK MODE ===================== */
/* ===================================================== */

body.dark_theme {
  background: #222;
  color: white;
}

body.dark_theme button {
  background: #444;
  color: white;
}

body.dark_theme .note-card {
    background-color: #393939;
    color: white;
}

body.dark_theme .note-card:hover {
    background-color: #464646;
}

body.dark_theme .note-viewer {
    background-color: #393939;
    color: white;
}

body.dark_theme .editor-title {
    color: white;
}

body.dark_theme .editor-body {
    color: white;
}

body.dark_theme .editor-datetime {
    opacity: 0.9;
}

body.dark_theme .primary-buttons {
    background: #444;
    color: white;
}

body.dark_theme .primary-buttons:hover {
    background: radial-gradient(circle at center, #ffffff22, transparent 70%), #555;
}